.btn-info {
    background-image: -webkit-linear-gradient(top, #b21bd2 0%, #810bff 100%);
    background-image: -o-linear-gradient(top, #b21bd2 0%, #810bff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b21bd2), to(#810bff));
    background-image: linear-gradient(to bottom, #b21bd2 0%, #810bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #cdde20;
}
.btn-info:hover,
.btn-info:focus {
    background-position: 0 -15px;
    background-color: #810bff;
}
.btn-info:active,
.btn-info.active {
    background-color: #5747d8;
    border-color: #5747d8;
}
.chxbox-label {
    padding-left: 10px;
    font-weight: bold;
}
.div.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-color : #5747d8 !important;
}
.html {

    background-color: #673AB7;
}

.table .table-condensed .table-hover .table-striped {
    background-color: #810bff !important
}